@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
.nopadding{
    padding: 0;
}
.solutions{
 position: relative;
 padding: 2em 8rem;
}
.i4ewOd-pzNkMb-tJHJj{
    display: none!important;
}
.solutions img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    width: 100%;
    height: 100%;
}
.caption{
    width: 100%;
    height: 100%;
    /* float: left; */
    color: #fff;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.caption p{
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /* max-width: 60ch; */
    font-weight: 700;
    color: #fff;
    padding: 0 2rem;
}
#solutions-heading{
    padding: 2em 7rem 0 7rem;
    font-size: 2.1rem;
    line-height: 1.25;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #5d7079;
}
.solutions h4{
    font-size: 2.1rem;
    line-height: 1.25;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #5d7079;
}

.description {
    padding: 0 2rem!important;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 25%; */
    transform: translateY(20%);
    line-height: 33px;
}
@media (max-width: 1199.98px) { 
    .description { 
        transform: translateY(0%);
        padding: 2em!important;
 }
}

@media(max-width:575.98px){
    .solutions {
        position: relative;
        padding: 2em 1rem;
    } 
    #solutions-heading{
        padding: 2em 1rem 0 1rem;
        font-size: 1.5rem;
        
    }
} 